# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Environment variables
.env

# Data folders
data_raw/
data_clean/
data_final/
*.csv
*.parquet